body{
    margin: 25vh auto;
    background: linear-gradient(to right, red, purple);
    display: flex; /*!*/
    flex-flow: row wrap;
    align-items: center ; /*row:cross*/
    justify-content:space-around ;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ed894c;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.button {
    background: coral;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
}
.button:hover {
    background: green;
    border: 2px solid white;
    color: white;
}


