body {
    background: linear-gradient(to right, red, purple);
    margin: 0;
}

h1 {
    color: white;
    text-align: center;
    font-size: 47px;
    margin: 50px 0 -50px 0;
}

.container-form {
    border: 1px solid grey;
    width: 60%;
    height: 720px;
    margin: 13vh auto;
    background: #191919;
    color: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;

}

input, label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: "Roboto Light";
}

.field {
    margin: 30px 20px 45px 70px;
    padding: 2px;
}

.field label {
    font-size: 23px;
}

.field input {
    width: 70%;
    height: 35px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.field input:focus {
    border: 3px solid red;
}

.field-1 {
    flex-basis: 40%;
}

.field-2 {
    flex-basis: 40%;
}

.field-3 {
    flex-basis: 50%;
}

.field-4 {
    flex-basis: 54%;
}

.field-5 {
    flex-basis: 42%;
}

.field-6 {
    flex-basis: 40%;
}

.field-7 {
    flex-basis: 42%;
}

.field-7 input {
    border: 2px solid white;
    cursor: pointer;
    font-size: 22px;
}

.field-7 input:hover {
    border: 2px solid darkred;
}