body {
    margin: 0;
    padding: 0;
    background: #191919;
}

.select-box-wrapper {
    background: #191919;
    width: 80%;
    height: 720px;
    margin: 13vh auto;
    display: flex;
    flex-flow: row wrap;
    -webkit-align-items: center;
    justify-content: space-around;
    align-content: center;

}

.select-box-student, .select-box-professor {
    flex-basis: 43%;
    padding: 0 25px;
    background: linear-gradient(to right, red, purple);
    text-align: center;
    height: 600px;
    font-size: 30px;
    border-radius: 20px;
}

.select-box-student h2, .select-box-professor h2 {
    font-size: 42px;
    color: white;
    text-decoration: underline;
}

.select-box-student button, .select-box-professor button {
    font-size: 30px;
    background: #191919;
    color: white;
    width: 300px;
    height: 60px;
    border: 3px solid black;
    border-radius: 20px;
    margin: 20px auto;
    cursor: pointer;
}

.select-box-student a, .select-box-professor a {
    color: white;
    text-decoration: none;
}

.select-box-student {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-content: center;
}

.select-box-professor {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-content: center;
}